<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997811915014-opi2hoqpcohs84jjr7pdb82uvgbdmmvf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997811915014-opi2hoqpcohs84jjr7pdb82uvgbdmmvf</string>
	<key>API_KEY</key>
	<string>AIzaSyBmwZACg1z0gLpD0FvzkrPB2asz3n3nIUc</string>
	<key>GCM_SENDER_ID</key>
	<string>997811915014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kvashnin.PenPlast</string>
	<key>PROJECT_ID</key>
	<string>penoplast-d2155</string>
	<key>STORAGE_BUCKET</key>
	<string>penoplast-d2155.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997811915014:ios:67886162b495ef8a3fb687</string>
</dict>
</plist>